<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" class="h-full">
<head>
  {% block head %}
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
  {% endif %}
  {% if FEED_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  {% if FEED_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
  {% if CATEGORY_FEED_ATOM and category %}
  <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
  {% endif %}
  {% if CATEGORY_FEED_RSS and category %}
  <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
  {% endif %}
  {% if TAG_FEED_ATOM and tag %}
  <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
  {% endif %}
  {% if TAG_FEED_RSS and tag %}
  <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
  {% endif %}
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Roboto:500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300|Scope+One" rel="stylesheet">
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygment.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/albertoconnor.css">
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css">
  <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
  {% endblock head %}
</head>

<body id="index" class="home min-h-screen flex flex-col bg-[#fcfcfc] text-gray-800 font-serif leading-relaxed" hx-boost="true">
  <header id="banner" class="container mx-auto px-4 mt-8">
    <div class="max-w-3xl mx-auto text-center">
      <nav class="my-8 flex justify-center flex-wrap gap-2">
        <a href="{{ SITEURL }}/" class="pill bg-brand-red text-white px-3 py-1 font-sans uppercase text-sm tracking-wide hover:bg-brand-gray transition-colors">Albert O'Connor WD</a>
        <a href="{{ SITEURL }}/" class="pill hidden sm:inline-block bg-brand-red text-white px-3 py-1 font-sans uppercase text-sm tracking-wide hover:bg-brand-gray transition-colors"><i class="fa fa-feed"></i></a>
        <a href="{{ SITEURL }}/" class="pill hidden sm:inline-block bg-brand-red text-white px-3 py-1 font-sans uppercase text-sm tracking-wide hover:bg-brand-gray transition-colors"><i class="fa fa-bookmark"></i></a>
        <a href="{{ SITEURL }}/" class="pill bg-brand-red text-white px-3 py-1 font-sans uppercase text-sm tracking-wide hover:bg-brand-gray transition-colors"><i class="fa fa-linkedin"></i></a>
        <a href="{{ SITEURL }}/" class="pill bg-brand-red text-white px-3 py-1 font-sans uppercase text-sm tracking-wide hover:bg-brand-gray transition-colors"><i class="fa fa-twitter"></i></a>
        <a href="{{ SITEURL }}/" class="pill bg-brand-red text-white px-3 py-1 font-sans uppercase text-sm tracking-wide hover:bg-brand-gray transition-colors"><i class="fa fa-github"></i></a>
        <a href="{{ SITEURL }}/" class="pill bg-brand-red text-white px-3 py-1 font-sans uppercase text-sm tracking-wide hover:bg-brand-gray transition-colors"><i class="fa fa-bitbucket"></i></a>
      </nav>
    </div>
  </header><!-- /#banner -->
  {% block precontent %}
  {% endblock precontent %}
  <main class="container mx-auto px-4 pb-16 flex-1 w-full">
    <div class="max-w-3xl mx-auto">
      {% block content %}
      {% endblock %}
    </div>
  </main>
  <footer id="contentinfo" class="w-full bg-brand-gray text-[#8b8b8b] py-12 mt-auto">
    <div class="container mx-auto text-center font-sans text-sm">
      <i class="fa fa-creative-commons" title="Creative Commons"></i> Albert O'Connor<br>
      <a href="http://getpelican.com/" class="text-gray-400 hover:text-white font-bold transition-colors">Pelican</a> powered<br>
      <a href="#" class="text-gray-400 hover:text-white font-bold transition-colors">Tailwind CSS</a> and <a href="#" class="text-gray-400 hover:text-white font-bold transition-colors">Font Awesome</a><br>
      Logo by Jenn Tiegs
    </div>
  </footer><!-- /#contentinfo -->
</body>
</html>
