/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 240px;
}

.page_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 240px;
  background-color: #4b4b4b;
  color: #7e1d16;
}

/*--- end --- */

body {
  font-family: 'Scope One', Georgia,serif;
  line-height: 1.75;
  background-color: #fcfcfc;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

h4.title {
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
}

a, a:hover {
  color: #7e1d16;
}

.content {
  padding-bottom: 4em;
}

.page_footer > div {
  margin-top: 4em;
  font-family: sans-serif;
  line-height: 1.5;
}

.page_footer, .page_footer a {
  color: #8b8b8b
}

.page_footer a {
  font-weight: bolder;
}

.page_footer a:hover {
  color: #eee;
  text-decoration: none;
}

.logo {
  max-width: 175px;
  margin-bottom: 2em;
}

nav {
  margin: 2em 0px;
}

.pill {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #7e1d16;
  color: #fff;
  font-weight: 100;
  font-size: 18px;
  padding: 2px 8px 3px;
  margin-right: 0.25em;
}

.pill:hover {
  background: #4b4b4b;
  color: #fff;
  text-decoration: none;
}

.index time:before {
  content: "\2014"
}

.entry-content {
  font-size: 1.1rem;
}

pre {
  background-color:  #f0f0f0;
  padding: 1em;
  line-height: 1.5;
  font-size: 80%;
}

header.article {
  text-align: center;
  margin-bottom: 4em;
}

header.article h1 {
  margin-bottom: 1em;
  margin-top: 0.5em;
}

hr.heavy {
  margin-top: 4em;
  border-top: 5px solid #4b4b4b;
}

section.logos {
  background-color: #f0f0f0;
  padding: 4em 0em;
  margin: 4em 0em;
  font-family: 'Roboto', sans-serif;
  font-size: smaller;
}

