@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-brand-red: #7e1d16;
  --color-brand-gray: #4b4b4b;
  --color-brand-light: #fcfcfc;
  --font-serif: "Scope One", Georgia, serif;
  --font-sans: "Roboto", sans-serif;
  --font-condensed: "Roboto Condensed", sans-serif;
}
